#obj_SerialNumberLineEdit{
    max-width: 322px;
    max-height: 75px;
    min-width: 322px;
    min-height: 75px;
    color:#000;
    border-width: 0 0 1px 0;
    border-style: solid;   
    background: transparent;
    border-color:#E1E1E1;
    font-size: 16px;
}

#obj_SerialNumberLineEdit QLineEdit{
    color:black;
    font-size: 16px;
    min-width:60px;
    max-width:60px;
    height:21px;
    border-style:none;
    background:transparent;
}

#obj_SerialNumberLineEdit QLabel{
    width:5px;
    font-size: 16px;
}

#obj_DashLabel{
   color:transparent;
}

#obj_placeholderLabel{
    color:#B7C1BD;
}

#obj_labelPaste{
    min-width:71px;
    min-height:45.5px;
    max-width:71px;
    max-height:45.5px;
}

#obj_labelPaste QLabel{
    font-size:14px;
    color:#212121;
}

/*************out of focus with content*************/
#obj_SerialNumberLineEdit[inFocus="0"]{
    border-color:#E1E1E1;
}
#obj_SerialNumberLineEdit QLineEdit[inFocus="0"]{
    color:black;
}
#obj_DashLabel[inFocus="0"]{
    color:#BFC9C8;
}

/*************out of focus without content*************/
#obj_SerialNumberLineEdit[inFocus="1"]{
    border-color:#E1E1E1;
}

/*************in focus*************/
#obj_SerialNumberLineEdit[inFocus="2"]{
    border-color:#00A86C;
}
#obj_SerialNumberLineEdit QLineEdit[inFocus="2"]{
    color:#00A86C;
}

/*************empty/with content*************/
#obj_DashLabel[empty=true]{
    color:transparent;
}
#obj_DashLabel[empty=false]{
    color:#BFC9C8;
}

